<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello, WebAssembly!</title>
</head>
<body>
    <script src="public/app.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("public/app.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
    </script>
</body>
</html>